#block-uc-tinycart-hovercart {
  position: relative;
  max-width: 50px;
}

#block-uc-tinycart-hovercart .content {
  position: relative;
  max-width: 50px;
}

#block-uc-tinycart-hovercart #hovercart-image {
  position: relative;
  width: 32px;
  height: 32px;
}

#block-uc-tinycart-hovercart #hovercart-image #hovercart-icon img {
  vertical-align: middle;
}

#block-uc-tinycart-hovercart #hovercart-image #hovercart-qty {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#block-uc-tinycart-hovercart #hovercart-contents {
  display: block;
  position: absolute;
  top: 0px;
  padding-top: 40px;
  width: 300px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}
#block-uc-tinycart-hovercart #hovercart-contents.visible {
  opacity: 1;
  max-height: 500px;
  transition: all 0.55s ease-in;
}
#block-uc-tinycart-hovercart #hovercart-contents.left {
  left: -10px;
}
#block-uc-tinycart-hovercart #hovercart-contents.right {
  right: -30px;
}
#block-uc-tinycart-hovercart #hovercart-contents.center {
  left: -125px;
}

#block-uc-tinycart-hovercart #hovercart-contents #content-wrap {
  z-index: 99999;
  border: 1px solid #ddd;
  background-color: #ddd;
  box-shadow: 5px 5px 5px #888888;
  margin: 0 20px 20px 0;
}

#block-uc-tinycart-hovercart #hovercart-contents.visible #content-wrap:after {
  position: absolute;
  top: 33px;
  margin-left: -8px;
  border-bottom: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: '';
}
#block-uc-tinycart-hovercart #hovercart-contents.visible.left #content-wrap:after {
  left: 30px;
}
#block-uc-tinycart-hovercart #hovercart-contents.visible.center #content-wrap:after {
  left: 145px;
}
#block-uc-tinycart-hovercart #hovercart-contents.visible.right #content-wrap:after {
  right: 35px;
}
